<section id="contact" class=" py-24 ">
    <div class="max-w-7xl mx-auto px-6">
        <!-- Título -->
        <div class="mb-12">
            <h2 class="text-3xl md:text-4xl font-bold text-white" data-i18n="contact.title"></h2>
            <p class="mt-2 text-gray-400 max-w-2xl" data-i18n="contact.description"></p>
        </div>

        <!-- Contact cards -->
        <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3">

            <!-- Email -->
            <a href="mailto:sebas03272009@gmail.com" target="_blank" rel="noopener"
                class="group border border-gray-800 rounded-xl p-6 bg-gray-900/40 hover:border-indigo-500 transition">
                <h3 class="text-lg font-semibold text-white" data-i18n="contact.subtitle1"></h3>
                <p class="mt-2 text-gray-400 text-sm group-hover:text-white transition" data-i18n="contact.p1"></p>
            </a>

            <!-- GitHub -->
            <a href="https://github.com/hsmorenom" target="_blank" rel="noopener"
                class="group border border-gray-800 rounded-xl p-6 bg-gray-900/40 hover:border-indigo-500 transition">
                <h3 class="text-lg font-semibold text-white" data-i18n="contact.subtitle2"></h3>
                <p class="mt-2 text-gray-400 text-sm group-hover:text-white transition" data-i18n="contact.p2"></p>
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/harol-sebasti%C3%A1n-moreno-m/" target="_blank" rel="noopener"
                class="group border border-gray-800 rounded-xl p-6 bg-gray-900/40 hover:border-indigo-500 transition">
                <h3 class="text-lg font-semibold text-white" data-i18n="contact.subtitle3"></h3>
                <p class="mt-2 text-gray-400 text-sm group-hover:text-white transition" data-i18n="contact.p3"></p>
            </a>

        </div>

        <div class="mt-12">
            <a id="cv_link" href="./documents/Hoja de Vida ADSO Sebastian_Moreno.pdf" target="_blank"
                class="inline-flex items-center gap-2 text-sm text-indigo-400 hover:text-indigo-300 transition"
                data-i18n="contact.download_CV">
                Descargar CV →
            </a>
        </div>
    </div>

</section>